extends layout

block content
  div.container
    h1 Movie Search
    p Type the title of a movie in the search box.
    input#search.form-control
    div.movie-results
    footer
      p
        | made by 
        a(href='http://patrick-little.com') Patrick
